.fonts {
    /* here i have imported font style from google fonts */
    @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
    font-family: "Dancing Script", cursive; /*font-family is used to accept the google fonts*/
    font-size: 20px; /*increases the size of the fonts*/
    font-weight: bold; /*it decides the boldness of the paragraph*/
  }
  .borders {
    background-color: aqua; /*here i gave the background color to the particular paragraph*/
    height: 100px; /*Deciding the height of the background*/
    width: 500px; /*Deciding the breadth of the background*/
    /* we can make boxes using height and width properties */
    border-width: 2px; /*Deciding the density of the given border*/
    border-style: solid; /*Deciding the Style of the border*/
    border-color: black; /*Deciding the color of the border*/
    /*These three statement can be written in the shortcut methods too*/
    border: 2px solid black; /* "2px" is the widht, "solid" is the style,"black" is the color*/
    border-radius: 15px; /*Changing the edges of the border into curves*/
  }
  .OneSideOfBorders {
    background-color: violet;
    height: 100px; /*Deciding the height of the background*/
    width: 500px; /*Deciding the breadth of the background*/
    /*Now we can change the color of any particular side of the border*/
    border-right: 2px solid red;
    border-top: 2px solid green;
    border-left: 2px solid yellow;
    border-bottom: 2px solid blue;
    /*Changing any one edge of the Border*/
    /*WE CAN USE ANY ON OF THESE DEPENDING ON THE DIRECTIONS*/
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
  }
  .BackgroundImage {
    background-image: url(pic1.jpg); /*Using this we can add any image in the background*/
    color: white; /*changing the color of the font because the background image is black*/
    height: 400px; /*Changing the heights can result in repeataiton of image */
    width: 500px;
    border: 2px solid black;
    background-repeat: no-repeat; /*Now the image wont repeat itself*/
    /* THERE ARE MANY MORE PROPERTIES JUST GOOGLE THEM */
  }
  .BoxModel {
    background-color: rgb(231, 230, 241);
    border: 3px solid rgb(64, 6, 119);

    /* We can set margin/padding for  top, bottom, left and right like this */
    /* padding-top: 79px;
        padding-bottom: 79px;
        padding-left: 34px; 
        padding-right: 79px;*/

    /* margin-top: 3px;
        margin-bottom: 5px;
        margin-left: 34px;
        margin-right:5px ; */

    /* margin = top right bottom left;  */
    /* padding = top right bottom left;  */

    /* padding: 23px 56px 6px 78px;   */
    /* margin: 23px 56px 6px 78px;   */

    /* padding: y(top/bottom) x(left/right); */
    /* margin: y(top/bottom) x(left/right); */
    padding: 34px 19px;
    margin: 14px 19px;
    border-radius: 23px;
    width: 533px;
  }
  .float2 {
    float: left; /*we can float the box in left direction*/
    width: 50%;
  }
  .float3 {
    float: left;
    width: 50%;
  }
  .float4 {
    float: left;
    width: 50%;
  }
  .float5 {
    float: left;
    width: 50%;
    /* clear: left; Check mdn reference for more */
  }
  .container{
      /*Setting up the border*/
        border: 2px solid red;
        background-color: rgb(223, 245, 201);
        /*Using padding and margin auto we align the box in center*/
        padding: 34px; 
        margin: 34px auto;
        width: 666px;
        clear: both; /*I used this to bring the box to the new line (removing float property)*/
    }
    a{
        text-decoration: none; /*Underline would be removed from the links*/
        color: black;        /*Changing the Font color of the link*/
    }
    a:hover{
        color: rgb(5, 0, 0); /*If we hover on the link then the font color will change*/
        background-color: rgb(221, 166, 38); /*Background color would be changed too*/
    }
    a:visited{
        /*If we clicked on the link "once" then the background color would be changed
        indicating that we have already visited that link*/
        background-color: yellow; 
    }
    a:active{
        /*click on the link and the color would change*/
        background-color:darkblue;
    }
    .btn{
        /*Designing the button*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        background-color: crimson;
        padding:6px;
        border: none;
        cursor:pointer; /*If you go over the button the mouse cursor would change*/
        font-size: 13px;
        border-radius: 4px; /*Giving curvers to the buttons*/
    }
    .btn:hover{
        /*Designing the buttons if we over on them*/
        color:darkgoldenrod;
        background-color:rgb(223, 245, 201);
        border: 2px solid black;
    }