body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    grid-auto-rows: 2fr;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 1rem;
}
.box{
    background-color: red;
    border: 2px solid black;
}